package components


type MenuFooterElementProps struct{
    Title string
    Href string
}

templ MenuFooterElement(props MenuFooterElementProps){
    @MenuFooterElementStyle()
    <a href={ props.Href }>{ props.Title }</a>
}

templ MenuFooterElementStyle(){
    <style>
        .element{
            font-size: 12px;
        }
    </style>
}