package components


templ NewsLink() {
    @NewsLinkStyle()
    <a class="menu-item-news" href="#">Новости</a>
}

templ NewsLinkStyle() {
    <style>
        .menu-item-news{
            text-decoration: none;
            font-size: 18px;
            color: rgb(214, 46, 3);
            font-weight: bold;
            margin-right: 40px;
        }
    </style>
}